<div class="card-body">
    <h1>Grafico de Producción</h1>
    <!--Inicia nuevo diseño  -->
    <div class="container-fluid">
        <div class="row">
            <!-- Lateral izquierdo -->
            <div class="col-md-3">
                <div class="btn-group-vertical w-100" role="group" aria-label="Months">
                    <!-- <button type="button" class="btn btn-secondary" (click)="simularSistema(1)">Enero</button>
                    <button type="button" class="btn btn-secondary" (click)="simularSistema(2)">Febrero</button>
                    <button type="button" class="btn btn-secondary" (click)="simularSistema(3)">Marzo</button>
                    <button type="button" class="btn btn-secondary" (click)="simularSistema(4)">Abril</button>
                    <button type="button" class="btn btn-secondary" (click)="simularSistema(5)">Mayo</button>
                    <button type="button" class="btn btn-secondary" (click)="simularSistema(6)">Junio</button>
                    <button type="button" class="btn btn-secondary" (click)="simularSistema(7)">Julio</button>
                    <button type="button" class="btn btn-secondary" (click)="simularSistema(8)">Agosto</button>
                    <button type="button" class="btn btn-secondary" (click)="simularSistema(9)">Septiembre</button>
                    <button type="button" class="btn btn-secondary" (click)="simularSistema(10)">Octubre</button>
                    <button type="button" class="btn btn-secondary" (click)="simularSistema(11)">Noviembre</button>
                    <button type="button" class="btn btn-secondary" (click)="simularSistema(12)">Diciembre</button> -->
                    <!-- Agregar botones para los otros meses -->
                </div>
            </div>
            <!-- Lateral derecho -->
            <div class="col-md-9">
                <div class="row">
                    <div class="col-lg-12"> <canvas id="ChartPrueba"></canvas></div>
                </div>
            </div>
        </div>
    </div>
    <!--Finaliza Nuevo diseño  -->
    <div class="row">
        <div class="col-lg-6"> <canvas id="ChartInversor"></canvas></div>
        <div class="col-lg-6"> <canvas id="ChartEstadoBateria"></canvas></div>
    </div>

</div>